body {
    background: url("../images/rock_hyrax.jpg")no-repeat center center fixed;
    background-size: cover;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
}

#title {
    color:slateblue;
    font: 400 50px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

h2 {
    font: Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 1px 1px 0px #ededed, 2px 2px 0px rgba(0,0,0,0.15);
}

h3 {
    font: Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px 0px #ededed, 1px 1px 0px rgba(0,0,0,0.15);
}

h4 {
    font: Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px 0px #ededed, 1px 1px 0px rgba(0,0,0,0.15);
}

#stay {
    color:slateblue;
    font: 400 25px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    text-shadow: 1px 1px 0px #ededed, 2px 2px 0px rgba(0,0,0,0.15);
}

th {
    color: whitesmoke;
}

.completed {
    color: yellowgreen;
    background-color: yellowgreen;
}

.uncompleted {
    color: tomato;
    background-color: tomato;
}

footer {
    padding-top: 25px;
    padding-left: 50px;
    width: 100%;
    color: whitesmoke;
    text-shadow: 1px 1px 0px black, 1px 1px 0px rgba(0,0,0,0.15);
}
