.uncomplete {
    background-color: darkcyan;
    color: darkslateblue;
}

h1 {
    color: darkorchid;
}

.snacks {
    color: darkorange;
}

.complete {
    color: darkolivegreen;
    font-family: fantasy;
}

.completed {
    color: yellowgreen;
    background-color: yellowgreen;
}

.uncompleted {
    color: tomato;
    background-color: tomato;
}